{{define "client" -}}
[Interface]
Address = {{.Address}}/{{.Server.Netmask}}
PrivateKey = {{.PrivateKey}}
DNS = {{.Server.DNS}}

[Peer]
PublicKey = {{.Server.PublicKey}}
PresharedKey = {{.PresharedKey}}
AllowedIPs = 0.0.0.0/0
Endpoint = {{.Server.Host}}:{{.Server.ListenPort}}
{{end}}
