{{define "server_head" -}}
[Interface]
Address = {{.Address}}/{{.Netmask}}
PrivateKey = {{.PrivateKey}}
ListenPort = {{.ListenPort}}
{{- if ne .PostUp "" -}}
PostUp = {{.PostUp}}
{{- end}}
{{- if ne .PreDown ""}}
PreDown = {{.PreDown}}
{{- end}}
{{end}}
